<%- include('../includes/header') %>

<div class="container" style="min-height: 700px; margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <h4 class="text-center">Student Detail</h4>
            <table class="table table-dark">
                <tr>
                    <td>Full Name</td>
                    <td><%= result.fullname %></td>
                </tr>
                <tr>
                    <td>Fee</td>
                    <td><%= result.fee %></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><%= result.city %></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><%= result.gender %></td>
                </tr>
                <tr>
                    <td>Skills</td>
                    <td><%= result.skills %></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><%= result.address %></td>
                </tr>

            </table>
        </div>
    </div>

</div>
<%- include('../includes/footer') %>